html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.panel {
    background-color: white;
    width: 100%;
    max-width: 960px;
    padding: 15px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.ash {
    border-bottom: 2px solid #e1f1;
}

.ash:last-child {
    border-bottom: none;
}

.ashimg {
    margin-bottom: 25px;
    max-width: 100%;
}

.header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.header1 {
    color: black;
    font-weight: 800;
    letter-spacing: 1px;
    display: block;
    font: size 32px;
}

.pricing-features {
    margin: 50px 0 25px;
    color: #016ff9;
}

li {
    list-style: none;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5px;
    font-size: 12px;
    padding: 15px 0;
    border-top: 1px solid #e1f1;
}

li:last-child {
    border-bottom: 1px solid #e1f1;

}

.btn {
    font-size: large;
    background-color: #888;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 8px;
}

.btn:hover {
    background-color: black;
    box-shadow: 2px 2px 4px 4px;

}

a {
    color: white;
    text-decoration: none;
}

@media (min-width:900px) {
    .panel {
        flex-direction: row;
        background-color: white;
    }

    .ash {
        border-bottom: none;
        border-right: 3px solid #e1f1ff;
        padding: 20px 10px;
    }

    .ash:last-child {
        border-right: none
    }
}