h1 {
    text-align: center;
    margin: 0 auto;
    text-decoration: black underline dotted;
}

p {
    border: 2px black double;
}

@media(max-width:600px) {
    h1 {
        color: aqua;
    }

    p {
        background-color: aqua;
    }

}